.bg-orange {
    background: radial-gradient(ellipse at center, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%);
}

.row{
    padding-top: 10px;
}

p.help-block{
    color: red;
    font-weight: bold;
}

.fade{
    opacity: 1 !important;
}