.bg-orange {
    background: radial-gradient(ellipse at center, rgba(248, 177, 118,1) 0%,rgba(221, 131, 14,1) 100%);
}

.row{
    padding-top: 10px;
}

p.help-block{
    color: red;
    font-weight: bold;
}

.fade{
    opacity: 1 !important;
}

.gallery
{
    display: inline-block;
    margin-top: 20px;
}

.remove-hover:hover{
    text-decoration: none !important;
}

.remove-hover img:hover{
    background-color: #dcdef1;
}